<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body class="bg-secondary">
<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <h2 class="text-center">Connecter-vous pour acceder a vos reclamations</h2>
    <div class="row bg-gradient">
        <div class="col-12 text-center" >
            <form method="post" style="width:40%;margin:auto;" class="bg-gradient">
    {% csrf_token %}
    <div class="input-box">
    <div class="single-input-fields">
      <label>Nom d'utilisateur ou adresse e-mail</label>
    <input type=" text" name="username" class="form-control" >
    </div>
    <div class="single-input-fields">
      <label>Mot de passe</label>
      <input type="password" name="password" id="" class="form-control" >
      </div>

    <button type="submit" class="btn btn-primary">Connexion</button>
  </div>
            </form>
            </div>
    </div>
</div>

</body>
</html>