<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body class="bg-light">
<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <h2 class="text-center">Connectez-vous</h2>
    <div class="row bg-gradient">
        <div class="col-6 text-center" >
            <form method="post" style="width:40%;margin:auto;" class="bg-gradient">
    {% csrf_token %}
    <div class="input-box">
    <div class="single-input-fields">
      <label>Nom d'utilisateur </label>
    <input type=" text" name="username" class="form-control" >
    </div>
    <div class="single-input-fields">
      <label>Mot de passe</label>
      <input type="password" name="password" id="" class="form-control" >
      </div>
      <br>
    <button type="submit" class="btn btn-dark">Connexion</button>
  </div>
            </form>
            </div>
        <div class="col-6 text-center" >
            <img src="{% static 'images/adsb.jpg'%}" class="img-fluid" style="width:50%;">
            </div>
    </div>
</div>

</body>
</html>